.name{
    color: dodgerblue;
}


.intro{
    text-align: left;
    
line-height: 2;
}
.top{
background-color: rgb(37, 192, 219);
text-align: center;
font-family: "Montserrat";
}
.team{
    padding: 5%;
    font-size: 55px;
}